.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.select, .input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.select {
  background-color: #fff;
  color: #333;
}

.input {
  width: 150px;
}
